.table-container{

    width:100%;
    overflow-x:auto;

}


table{

    min-width:900px;

}


@media(max-width:768px){

table{

    font-size:13px;

}


button{

    padding:6px 10px;
    font-size:12px;

}

}
